html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  background-color: #eef5ff;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.step-group {
  display: inline-block;
}
.step-group .step {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  border-radius: 100%;
}
.step-group .step__focused {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  border-color: lightblue;
}
.step-group .step__details {
  display: none;
}
@media screen and (min-width: 768px) {
  .step-group {
    display: flex;
    align-items: center;
  }
  .step-group p {
    margin: 0;
    line-height: 1.3;
  }
  .step-group .step__details {
    display: block;
    margin-left: 1.8rem;
  }
  .step-group .step__details .step__name {
    font-size: 1.4rem;
    color: #fff;
    opacity: 0.7;
    font-size: 1.2rem;
  }
  .step-group .step__details .step__description {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    white-space: nowrap;
  }
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  border: none;
}

.btn--primary {
  color: white;
  background: hsl(213, 96%, 18%);
  transition: background 0.3s;
}
.btn--primary:hover {
  background: hsl(228, 100%, 84%);
}

.plan {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1.5rem 1.5rem;
  border-radius: 7px;
  margin-bottom: 2rem;
}
.plan img {
  margin-right: 2rem;
}
.plan .plan__details p {
  margin: 0;
  margin-bottom: 0.4rem;
}
.plan .plan__details .plan__price {
  color: #96969e;
  margin-bottom: 0;
}
.plan .plan__details .plan__name {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 0;
}
.plan:hover {
  border-color: hsl(243, 100%, 62%);
  background: #f8f9fe;
}
@media screen and (min-width: 768px) {
  .plan {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2.2rem;
    padding-top: 2.2rem;
    width: 12rem;
  }
  .plan img {
    margin-right: 0;
    margin-bottom: 5rem;
  }
  .plan .plan__details .plan__name {
    font-size: 2rem;
  }
  .plan .plan__details .plan__price {
    font-size: 1.7rem;
  }
}

.plan-block {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 7px;
  margin-bottom: 2rem;
}
.addon .addon__wrapper {
  display: flex;
}
.addon input {
  margin-right: 2rem;
  width: 1.6rem;
}
.addon p {
  margin: 0;
}
.addon .addon__details p {
  line-height: 2rem;
}
.addon .addon__details .addon__name {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  font-size: 1.7rem;
}
.addon .addon__details .addon__more {
  color: #96969e;
}
.addon span {
  color: #6c5fe3;
  font-weight: 500;
}
.addon:hover {
  border-color: hsl(243, 100%, 62%);
  background: #f8f9fe;
}

label {
  color: hsl(213, 96%, 18%);
  font-size: 1.4rem;
}

.input {
  margin-top: 0.5rem;
  width: 100%;
  padding: 1rem 1.3rem;
  border-radius: 3px;
  border: none;
  outline: 0;
  border: 1px solid #ccc;
}

::-moz-placeholder {
  color: #b6b3b3;
  font-weight: 500;
}

::placeholder {
  color: #b6b3b3;
  font-weight: 500;
}

.billing-cycle {
  background-color: #f8f9fe;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.billing-cycle img {
  width: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.step-1 {
  height: 100vh;
}
.step-1 .step_1_header {
  position: relative;
}
.step-1 .step_1_header .header__img {
  content: url(assets/images/bg-sidebar-mobile.svg);
  width: 100%;
}
.step-1 .step_1_header .steps {
  display: flex;
  gap: 1.5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .step-1 .step_1_header .steps {
    flex-direction: column;
  }
}
.step-1 .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 7px;
  margin: 2rem;
  position: relative;
  top: -7rem;
}
.step-1 .card .btn {
  display: none;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .btn-group {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .step-1 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    display: flex;
    width: 57%;
    height: 100%;
    margin: auto;
    margin-top: 5rem;
    border-radius: 9px;
  }
  .step-1 .step_1_header .header__img {
    margin-right: 24rem;
    width: 100%;
    content: url(assets/images/bg-sidebar-desktop.svg);
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 1.4rem;
  }
  .step-1 .card {
    position: relative;
    top: 0;
    padding: 4rem;
    box-shadow: none;
  }
  .step-1 .card .btn {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
a {
  text-decoration: none;
  color: initial;
}/*# sourceMappingURL=styles.css.map */