$Marine-blue: hsl(213, 96%, 18%);
$Light-blue: hsl(206, 94%, 87%);
$Pastel-blue: hsl(228, 100%, 84%);
$Purplish-blue: hsl(243, 100%, 62%);
html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: #eef5ff;

    @media screen and (min-width: 768px) {
        font-size: 1.6rem;
        // height: 100vh;
    }

    
}

.grid {
    display: grid;

    @media screen and (min-width: 768px) {
         &.grid--1x3 {
            grid-template-columns: repeat(3, 1fr);
         }
    }
}




// step

.step-group{
    display: inline-block;
    .step {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        font-weight: bold;
        border-radius: 100%;
    }

    .step__focused {
        background-color: $Light-blue;
        color: $Marine-blue;
        border-color: lightblue;
    }

    .step__details {
        display: none;
    }

    @media screen and (min-width: 768px) {
        
        & {
            display: flex;
            align-items: center;

            p{
                margin: 0;
                line-height: 1.3;
            }

            .step__details {
                display: block;
                margin-left: 1.8rem;

                .step__name {
                    font-size: 1.4rem;
                    color: #fff;
                    opacity: 0.7;
                    font-size: 1.2rem;
                }

                .step__description{
                    color: #fff;
                    font-weight: 700;
                    letter-spacing: 0.1rem;
                    font-size: 1.4rem;
                    white-space: nowrap;
                }
            }
        }
    }

}


// buttons
.btn {
    padding: 1rem 1.5rem;
    border-radius: 4px;
    border: none;
}

.btn--primary {
    color: white;
    background: $Marine-blue;
    transition: background 0.3s;

    &:hover {
        background: $Pastel-blue;
    }
}

// plan
.plan {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1.5rem 1.5rem;
    border-radius: 7px;
    margin-bottom: 2rem;

    img {
        margin-right: 2rem;
    }

    .plan__details {
        p{
            margin: 0;
            margin-bottom: 0.4rem;
        }

        .plan__price {
            color: #96969e;
            margin-bottom: 0;
        }

        .plan__name {
            color: $Marine-blue;
            font-weight: 500;
            font-size: 1.7rem;
            margin-bottom: 0;
        }
    }


    &:hover {
        border-color: $Purplish-blue;
        background: #f8f9fe;
    }


    @media screen and (min-width: 768px) {
        & {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 2.2rem;
            padding-top: 2.2rem;
            width: 12rem;
            
            img {
                margin-right: 0;
                margin-bottom: 5rem;
            }

            .plan__details {
                .plan__name {
                    font-size: 2rem;
                }

                .plan__price{
                    font-size: 1.7rem;
                }
            }
        }
    }
}

// plan-block
.plan-block {
    column-gap: 2rem;

}


// addon

.addon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 7px;
    margin-bottom: 2rem;


    .addon__wrapper {
        display: flex;
    }


    input {
        margin-right: 2rem;
        width: 1.6rem;
    }

    p {
        margin: 0;
    }

    .addon__details {

        p{
            line-height: 2rem;
        }

        .addon__name{
            color: $Marine-blue;
            font-weight: 500;
            font-size: 1.7rem;
        }

        .addon__more {
            color: #96969e;
        }
    }

    span {
        color: #6c5fe3;
        font-weight: 500;
    }

    &:hover {
        border-color: $Purplish-blue;
        background: #f8f9fe;
    }
}

//input 
label {
    color: $Marine-blue;
    font-size: 1.4rem;
}


.input {
    margin-top: 0.5rem;
    width: 100%;
    padding: 1rem 1.3rem;
    border-radius: 3px;
    border: none;
    outline: 0;
    border: 1px solid #ccc;
}

::placeholder{
    color: #b6b3b3;
    font-weight: 500;
}

//billing-cycle
.billing-cycle {
    background-color: #f8f9fe;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 5rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}


//======================================================
// step-1

.step-1{
    height: 100vh;

    .step_1_header{
        position: relative;
        .header__img{
            content: url(assets/images/bg-sidebar-mobile.svg);
            width: 100%;
        }

        .steps {
            display: flex;
            gap: 1.5rem;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);

            @media screen and (min-width: 768px) {
                &{
                    flex-direction: column;
                }
            }
        }
    }


    .card {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 2rem;
        background-color: #fff;
        border-radius: 7px;
        margin: 2rem;
        position: relative;
        top: -7rem;

        .btn{
            display: none;
        }
    }

}


.btn-group{
    display:flex;
    justify-content: flex-end;
    padding: 2rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;

    @media screen and (min-width: 768px) {
        &{
            display: none;
        }
    }
}

@media screen and (min-width:768px) {
    .step-1{

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #fff;
        display: flex;
        width: 57%;
        height: 100%;
        margin: auto;
        margin-top: 5rem;
        border-radius: 9px;

        .step_1_header{
            .header__img{
                margin-right: 24rem;
                width: 100%;
                content: url(assets/images/bg-sidebar-desktop.svg);
                width: 100%;
                height: 100%;
                object-fit: contain;
                padding: 1.4rem;
            }
        }

        .card {
            position: relative;
            top: 0;
            padding: 4rem;
            box-shadow: none;

            .btn{
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

    }
}

a {
    text-decoration: none;
    color: initial;
}